:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fafbfc;
  color: #3b4046;
}

header {
  width: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: rgba(245, 222, 179, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(15px);
}

a {
  text-decoration: none;
  color: #8b4513;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.minimizedText {
  color: rgba(0, 0, 0, 0);
  font-size: 0.1rem;
}
